{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}Inscription
{% endblock %}
{% block h1 %}
    Inscription
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <label for="">Nom</label>
    {{ form_row(form.name) }}

    <label for="">Prénom</label>
    {{ form_row(form.firstname) }}

    <label for="">Email</label>
    {{ form_row(form.email) }}


    {{ form_row(form.plainPassword) }}

    <label for="">Adresse</label>
    {{ form_row(form.adress) }}
    <label for="">Code postal</label>
    {{ form_row(form.cp) }}
    <label for="">Ville</label>
    {{ form_row(form.city) }}

    <label for="">Téléphone</label>
    {{ form_row(form.phone) }}
    {{ form_row(form.Valider) }}

    {{ form_end(form) }}


{% endblock %}
