{% extends 'base.html.twig' %}

{% block title %}Hello ProController!{% endblock %}

{% block body %}

        <div class="show-pro">

            <h3>Prenom : {{ pro.firstname }}</h3>
            <h3>Nom : {{ pro.name }}</h3>
            <h3>Education: {{ pro.graduation }}</h3>
            <h3>Experience : {{ pro.experience }}</h3>
            <h3>A propos : {{ pro.description }}</h3>
             {% for presta in pro.prestation %}
                <div>
                    Prestations: {{ pro.presta }}
                </div>
            {% endfor %}


        </div>

            <div class="text-center">
                <a href="{{path("pro_delete", {id: pro.id})}}"
                   class="card-link btn btn-outline-primary">Supprimer</a>
            </div>


{% endblock %}
