{% extends 'base.html.twig' %}

{% block title %}Hello ProController!{% endblock %}

{% block body %}

        <div class="show-pro">

            <h3>Prenom : {{ pro.firstname }}</h3>
            <h3>Nom : {{ pro.name }}</h3>
            <h3>Education: {{ pro.graduation }}</h3>
            <h3>Experience : {{ pro.experience }}</h3>
            <p>A propos : {{ pro.description }}</p>
            {% for presta in pro.prestation %}
                <div>
                    Prestations: {{ pro.presta }}
                </div>
            {% endfor %}



        </div>

            <div class="text-center">
                <a href="{{ path('delete_pro', {"id":pro.id} )}}"><button type="button" class="btn btn-primary">Supprimer </button></a>
            </div>






{% endblock %}
