{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <label for="">Service a ajouter : </label>
    {{ form_row(form.nom) }}
    {{ form_row(form.image) }}

    {{ form_row(form.Valider) }}

    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

