{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="row d-flex justify-content-center text-center">

        <table class="table table-striped">

            <thead>
            <tr>

                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th colspan="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th colspan="col">Ville</th>
                <th colspan="col">Telephone</th>
                <th colspan="col">Actions</th>


            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>

                    <td>{{ user.firstname }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.adress }}</td>
                    <td>{{ user.cp }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.phone }}</td>
                    <td><a href="{{ path('deleteUser', {id:user.id}) }}"
                           class="card-link btn btn-outline-primary">Supprimer</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {% endblock %}
