{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} | Modifications
{% endblock %}
{% block h1 %}
    Modifications
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <label for="">Prénom</label>
    {{ form_row(form.firstname) }}

    <label for="">Email</label>
    {{ form_row(form.email) }}


    <label for="">Adresse</label>
    {{ form_row(form.adress) }}
    <label for="">Code postal</label>
    {{ form_row(form.cp) }}
    <label for="">Ville</label>
    {{ form_row(form.city) }}

    <label for="">Téléphone</label>
    {{ form_row(form.phone) }}
    {{ form_row(form.Valider) }}

    {{ form_end(form) }}

    <a href="#"><button class="btn btn-primary" title="clique ici!">Modifier mon mot de passe</button></a>


{% endblock %}